<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating on exclusive comunity 
    for developers and entrepreneeurs to meet. </p>
</div>